/*Color Palette:
#4C5FD5 - azul 
#dadbf1 -cinza
#000000 - preto
GT America Standard', sans-serif;*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
header{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    background: black;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
}
#logo{
    font-family: sans-serif;
    font-weight: 700;
}
#container-header{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 100px;
    justify-content: space-between;
    padding-right:50px;
    
}
#header-op0{
    display: flex;

}
#botao-header{
    justify-content: space-around;
    display: flex;
    align-items: right;
    justify-content:flex-end ;
}
#header-op1{
    display: flex;
    width: fit-content;
    justify-content:flex-end ;
    padding: 0px 20px;
}
#header-op2{

    display: flex;
    width: fit-content;
    justify-content:flex-end ;
    padding: 0px 10px;
   
}

#area-conteudo {
    background: #0000ff;
            }
#foot {
    background: black;
    color: white ;
}